{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="col-sm-10">
            {{ form_start(search_form) }}
            {{ form_widget(search_form) }}
            {{ form_end(search_form) }}
        </div>

    </div>

{% endblock %}