{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <ul class="list-group">
            {% if result=='error' %}
                <li class="list-group-item">Please check the tracking id</li>
            {% else %}
                <li class="list-group-item">Order id: {{result['tracking_id']}}</li>
                <li class="list-group-item">Delivery Date: {{result['shipping_date']}}</li>
            {% endif %}
            <li class="list-group-item"><a class="btn btn-dark" href="/" role="button">Back</a></li>
        </ul>
    </div>

{% endblock %}